<div class="title">About us:</div>

<div class="content-container">
  <%= @employer.name %><br />
  <%= @user.address %>
</div>

<div class="content-container">
  <%= @employer.description %>
</div>

<div class="content-container">
</div>
