<p>
  <b>Name:</b>
  <%= @business_sector.name %>
</p>

<%= link_to 'Edit', edit_business_sector_path(@business_sector) %> |
<%= link_to 'Back', business_sectors_path %> |
<%= link_to 'New', new_business_sector_path %>
