views/layouts/two_column.html.erb
<% content_for :content do %>
        <div class="five columns">
        	<%= yield :leftContent %>
		</div>
		
        <div class="eleven columns">
			<%= yield %>
		</div>
<% end %>
<%= render :template => 'layouts/application' %>
